.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #e21f1d;
            opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #e21f1d;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
            color: #e21f1d;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}